## Data Cleaning
Since the source data set is too large, we intercepted the flight data in 2022 for analysis and visualization.

In [23]:
import pandas as pd

In [31]:
data = pd.read_csv(r"D:\PersonalFiles\IS445\FinalProject\flights_sample_3m.csv")
data['year'] = pd.to_datetime(data['FL_DATE']).dt.year
data2023 = data[data['year'] == 2023]
data2023 = data2023.drop(['AIRLINE_DOT', 'DOT_CODE', 'year'], axis=1)
data2023

,FL_DATE,AIRLINE,AIRLINE_CODE,FL_NUMBER,ORIGIN,ORIGIN_CITY,DEST,DEST_CITY,CRS_DEP_TIME,DEP_TIME,...,DIVERTED,CRS_ELAPSED_TIME,ELAPSED_TIME,AIR_TIME,DISTANCE,DELAY_DUE_CARRIER,DELAY_DUE_WEATHER,DELAY_DUE_NAS,DELAY_DUE_SECURITY,DELAY_DUE_LATE_AIRCRAFT
3,2023-03-06,Delta Air Lines Inc.,DL,2295,MSP,"Minneapolis, MN",SFO,"San Francisco, CA",1609,1608.0,...,0.0,260.0,285.0,249.0,1589.0,0.0,0.0,24.0,0.0,0.0
6,2023-06-11,American Airlines Inc.,AA,2134,DCA,"Washington, DC",BOS,"Boston, MA",1010,1001.0,...,0.0,109.0,89.0,58.0,399.0,NaN,NaN,NaN,NaN,NaN
8,2023-02-12,Spirit Air Lines,NK,590,IAH,"Houston, TX",LAX,"Los Angeles, CA",530,527.0,...,0.0,227.0,219.0,200.0,1379.0,NaN,NaN,NaN,NaN,NaN
29,2023-04-15,Republic Airline,YX,3615,MSP,"Minneapolis, MN",EWR,"Newark, NJ",1325,714.0,...,0.0,178.0,233.0,145.0,1008.0,0.0,0.0,1124.0,0.0,0.0
30,2023-01-03,Allegiant Air,G4,1206,USA,"Concord, NC",SFB,"Sanford, FL",1541,1531.0,...,0.0,88.0,100.0,70.0,457.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2999976,2023-03-13,Southwest Airlines Co.,WN,3197,OAK,"Oakland, CA",LAS,"Las Vegas, NV",800,758.0,...,0.0,95.0,77.0,60.0,407.0,NaN,NaN,NaN,NaN,NaN
2999980,2023-04-23,Delta Air Lines Inc.,DL,1208,ORD,"Chicago, IL",DTW,"Detroit, MI",1030,1026.0,...,0.0,84.0,60.0,45.0,235.0,NaN,NaN,NaN,NaN,NaN
2999982,2023-01-03,American Airlines Inc.,AA,1456,SLC,"Salt Lake City, UT",DFW,"Dallas/Fort Worth, TX",1619,1639.0,...,0.0,154.0,155.0,125.0,989.0,0.0,0.0,1.0,0.0,20.0
2999989,2023-05-29,Republic Airline,YX,4644,PWM,"Portland, ME",DCA,"Washington, DC",550,550.0,...,0.0,117.0,103.0,80.0,482.0,NaN,NaN,NaN,NaN,NaN
2999990,2023-07-26,SkyWest Airlines Inc.,OO,4126,DTW,"Detroit, MI",MSN,"Madison, WI",825,824.0,...,0.0,78.0,92.0,55.0,311.0,NaN,NaN,NaN,NaN,NaN

In [30]:
data2023.to_csv(r'D:\PersonalFiles\IS445\FinalProject\data_2023.csv', index=False)