## Data Cleaning
Since the source data set is too large, we intercepted the flight data in 2022 for analysis and visualization.

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv(r"D:\PersonalFiles\IS445\FinalProject\flights_sample_3m.csv")
data['year'] = pd.to_datetime(data['FL_DATE']).dt.year
data2023 = data[data['year'] == 2022]
data2023 = data2023.drop(['AIRLINE_DOT', 'DOT_CODE', 'year'], axis=1)
data2023

,FL_DATE,AIRLINE,AIRLINE_CODE,FL_NUMBER,ORIGIN,ORIGIN_CITY,DEST,DEST_CITY,CRS_DEP_TIME,DEP_TIME,...,DIVERTED,CRS_ELAPSED_TIME,ELAPSED_TIME,AIR_TIME,DISTANCE,DELAY_DUE_CARRIER,DELAY_DUE_WEATHER,DELAY_DUE_NAS,DELAY_DUE_SECURITY,DELAY_DUE_LATE_AIRCRAFT
1,2022-11-19,Delta Air Lines Inc.,DL,1149,MSP,"Minneapolis, MN",SEA,"Seattle, WA",2120,2114.0,...,0.0,235.0,236.0,189.0,1399.0,NaN,NaN,NaN,NaN,NaN
2,2022-07-22,United Air Lines Inc.,UA,459,DEN,"Denver, CO",MSP,"Minneapolis, MN",954,1000.0,...,0.0,118.0,112.0,87.0,680.0,NaN,NaN,NaN,NaN,NaN
15,2022-05-01,Southwest Airlines Co.,WN,1011,BWI,"Baltimore, MD",BDL,"Hartford, CT",1735,1738.0,...,0.0,65.0,68.0,53.0,283.0,NaN,NaN,NaN,NaN,NaN
20,2022-05-05,JetBlue Airways,B6,1273,JFK,"New York, NY",CHS,"Charleston, SC",803,800.0,...,0.0,129.0,106.0,86.0,636.0,NaN,NaN,NaN,NaN,NaN
22,2022-11-12,Delta Air Lines Inc.,DL,2706,GRR,"Grand Rapids, MI",MSP,"Minneapolis, MN",730,720.0,...,0.0,96.0,76.0,61.0,408.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2999975,2022-10-13,Alaska Airlines Inc.,AS,731,SEA,"Seattle, WA",SFO,"San Francisco, CA",1335,1330.0,...,0.0,128.0,122.0,97.0,679.0,NaN,NaN,NaN,NaN,NaN
2999986,2022-02-09,Delta Air Lines Inc.,DL,2841,ATL,"Atlanta, GA",EWR,"Newark, NJ",815,806.0,...,0.0,124.0,115.0,93.0,746.0,NaN,NaN,NaN,NaN,NaN
2999995,2022-11-13,American Airlines Inc.,AA,1522,JAX,"Jacksonville, FL",CLT,"Charlotte, NC",1742,1740.0,...,0.0,85.0,71.0,55.0,328.0,NaN,NaN,NaN,NaN,NaN
2999996,2022-11-02,American Airlines Inc.,AA,1535,ORD,"Chicago, IL",AUS,"Austin, TX",1300,1254.0,...,0.0,176.0,145.0,130.0,977.0,NaN,NaN,NaN,NaN,NaN
2999997,2022-09-11,Delta Air Lines Inc.,DL,2745,HSV,"Huntsville, AL",ATL,"Atlanta, GA",534,615.0,...,0.0,55.0,50.0,28.0,151.0,0.0,36.0,0.0,0.0,0.0

In [3]:
data2023.to_csv(r'D:\PersonalFiles\IS445\FinalProject\data_2022.csv', index=False)